<div style="margin-top: 20%;">
    <form action="/post" method="POST">
        <textarea class="form-control" required name="title" id="title" cols="30" rows="1" placeholder="Inserisci il titolo del post" style="margin-top: 20%;"></textarea> <br>
        <textarea class="form-control" required name="posts" id="content" cols="30" rows="10" placeholder="Scrivi qui il tuo post"></textarea> <br>
        <input class="form-check-input mb-3" id="topTopicsChk" name="topTopicQuery" type="checkbox"> <label for="topTopicsChk">Top Topics ?</label> <br>
        <button class="btn btn-outline-primary" type="submit">Invia</button>
    </form>
</div>

